* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik-Medium"), url(../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik-EB";
  src: local("Rubik-EB"), url(../fonts/Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "Rubik-B";
  src: local("Rubik-B"), url(../fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: "Rubik-Re";
  src: local("Rubik-Re"), url(../fonts/Rubik-Regular.ttf);
}

h2 {
  padding-top: 4vw;
  padding-bottom: 1.5vw;
  color: #1e444b;
  font-family: "Rubik-B";
  font-size: 2.3vw;
}

h3 {
  color: #1e444b;
  font-family: "Rubik-B";
  font-size: 1.6vw;
  padding: 0;
  margin-bottom: 1vw;
}

p {
  color: #1e444b;
  font-family: "Rubik-Re";
  font-size: 1.3vw;
  margin-bottom: 2vw;
}

/* Home */

.main {
  margin: 0 5vw;
  justify-content: center;
}

.route_cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  width: 100%;
  gap: 1.5vw;
}

/* последняя плашка на блоке оопт */

.last .first_title {
  position: absolute;
  top: 6%;
  left: 5%;
  font-family: Rubik-B;
  color: aliceblue;
  width: 70%;
  font-size: 2vw;
}

.oopt_cards {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 2vw;
}

.last {
  position: relative;
}

.last .Btn {
  position: absolute;
  bottom: 15%;
  left: 2%;
}

/* Map */

.search_wrap {
  position: absolute;
  top: 8.5vw;
  left: 3vw;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 25vw;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: #000000 1px 0 20px;
  padding: 1rem;
  flex-wrap: wrap;
}

.search_item {
  border-radius: 0.5rem;
  font-size: 1vw;
  font-family: Rubik-Re;
  align-content: center;
  padding: 0.5vw;
  margin: 0.2vw;
}

.sit1 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 18vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #56565690;
}

.sit2 {
  white-space: nowrap;
  overflow: hidden;
}

.sit3 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 3vw;
  font-family: Rubik;
}

.sit4 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 9vw;
  font-family: Rubik;
}

.sit5 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 13vw;
  font-family: Rubik;
}

.sit6 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 6vw;
  font-family: Rubik;
}

.sit7 {
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 15vw;
  font-family: Rubik;
}

.plmi_wrap {
  position: absolute;
  top: 20vw;
  right: 3vw;
}

.plmi {
  position: relative;
  flex-direction: column;
}

.plm {
  width: 1.5vw;
  padding: 35%;
}

.plmiitem {
  box-sizing: border-box;
  width: 5vw;
  height: 5vw;
  background-color: #f5f5f5;
  border-radius: 1rem;
  margin: 1vw;
  box-shadow: #000000 1px 0 15px;
}

/* Route */

.rtinfo_flex {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5.6vw;
  text-align: justify;
  width: 85vw;
}

.rtinfo1 {
  color: #1e444b;
  font-family: Rubik-EB;
  font-size: 1.7vw;
}

.rtinfo2 {
  color: #1e444b;
  font-family: Rubik-Re;
  font-size: 1.3vw;
}

.rtinfo3 {
  position: relative;
  color: #1e444b;
  font-family: Rubik-Re;
  font-size: 1.3vw;
  display: flex;
}

.oopt_rules {
  border-radius: 0.5rem;
  font-size: 1vw;
  font-family: Rubik;
  padding: 0.5vw;
  margin: 0.2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  color: #1e444b;
  font-size: 1.3vw;
  border: #1e444b 3px solid;
  background-color: rgba(139, 69, 19, 0);
}

.inf3it {
  color: #1e444b;
  font-family: Rubik-Re;
  font-size: 1vw;
}

.paint {
  fill: none;
  stroke: black;
  stroke-width: 3px;
  cursor: pointer;
  pointer-events: all;
}

/* About */
.about_us_block {
  margin: 0 5vw;
  margin-top: 7vw;
  margin-bottom: 3vw;
  justify-content: center;
}

.social {
  display: flex;
  gap: 2vw;
  margin-bottom: 2vw;
}

.social img {
  width: 2vw;
  margin-top: -0.1vw;
}

.social p {
  margin: 0;
}

.social a {
  text-decoration: none;
}

.soc {
  display: flex;
  gap: 1vw;
}