.Navbar {
  width: 90vw;
  color: #1E444B;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  opacity: 92%;
  display: flex;
  padding: 2vw 5vw;
  justify-content: space-between;
  padding-right: 5vw;
  text-align: center;
  height: 1vw;
  font-size: 1.2vw;
  text-decoration: none;
}

.Navbar a {
  font-family: Rubik;
}

li {
  list-style-type: none;
}

.NavLink:hover {
  cursor: pointer;
}

.logo {
  width: 5vw;
  margin-right: 30vw;
  margin-top: -0.5vw;
}

.reef {
  color: #1E444B;
  width: 10vw;
  text-decoration: none;
}