.RouteCard {
  position: relative;
}

.RouteCard .titles {
  position: absolute;
  top: 5%;
  left: 7%;
  width: 70%;
  padding: 0;
  display: flex;
  text-align: left;
  flex-flow: wrap;
  gap: 0.2vw;
  height: auto;
}

.RouteCard .first_title {
  position: relative;
  font-family: Rubik-B;
  color: aliceblue;
  font-size: 1.8vw;
}

.RouteCard .sec_title {
  position: relative;
  font-family: Rubik;
  color: aliceblue;
  font-size: 1.2vw;
}

.RouteCard .niz_title {
  position: absolute;
  font-family: Rubik;
  color: aliceblue;
  bottom: 7%;
  left: 7%;
  font-size: 1.3vw;
  width: 10vw;
  display: flex;
  gap: 0.5vw;
  flex-flow: wrap;
}

.RouteCard .niz_title div {
  width: 100%;
  display: flex;
  gap: 0.5vw;
}

.RouteCard .Btn {
  position: absolute;
  bottom: 7%;
  right: 7%;
}