.OoptSearchBar {
  width: 100vw;
  background-color: #1e444b;
}

.oopt_wrap {
  position: absolute;
  top: 8vw;
  left: 5vw;
}

.oopt_flex {
  display: flex;
  position: relative;
  font-family: Rubik-B;
  color: #f7f7f7;
  font-size: 2.5vw;
  width: 95vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cyfr {
  width: 16.433em;
  font-family: Rubik-Re;
  font-size: 2vw;
  text-shadow: #000000 1px 0 10px;
}

.oopt_info {
  border-radius: 0.5rem;
  font-size: 1vw;
  font-family: Rubik;
  align-content: center;
  padding: 0.5vw;
  margin: 0.2vw;
  height: 2vw;
  background-color: #ffffff;
  flex-basis: 18vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #f4f4f4;
  text-align: center;
  font-size: 1.3vw;
}