.Footer {
  display: flex;
  background-color: #1e444b;
}

.Footer p {
  font-size: 1.3vw;
}

.footer_item {
  padding: 3vw 5vw;
}

.foot_t {
  color: #b0b0b0;
}

.foot_t2 {
  color: #ffffff;
  line-height: 1.5;
}

.social {
  display: flex;
  gap: 1vw;
}

.soc {
  width: 2vw;
}