.OoptCard {
  position: relative;
}

.OoptCard .first_title {
  position: absolute;
  font-family: Rubik-B;
  color: aliceblue;
  width: 70%;
  font-size: 1.8vw;
  left: 2%;
  top: 18%;
}

.OoptCard .sec_title {
  position: absolute;
  top: 37%;
  left: 2%;
  font-family: Rubik;
  color: aliceblue;
  width: 70%;
  font-size: 1.2vw;
}

.OoptCard .niz_title {
  position: absolute;
  font-family: Rubik;
  color: aliceblue;
  bottom: 15%;
  left: 2%;
  font-size: 1.3vw;
  width: 10em;
}

.OoptCard .Btn {
  position: absolute;
  bottom: 15%;
  right: 2%;
}